@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-primary: #ffffff;
  --bg-secondary: #bfbcbc;
  --bg-tertiary: #837a7a;
  --text-primary: #000000;
}

body {
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
